.HomeStyle {
    /* display: flex; */
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100vh;
    /* align-items: center; */
    width: 100%;
    /* overflow: hidden; */
}

.TopHomeStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 7.5vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax{
    background-size: 1600px;
    background-image: url(./images/background_v1.jpeg);
    filter: blur(2px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background-position: center;
    background-size: cover;
    z-index: -1;
    background-attachment: fixed;
}

.SiteTitleStyle{
    font-size: 48pt;
    font-size: 6rem;
    letter-spacing: 6pt;
    color: #ffffff;
    font-weight: 700;
    vertical-align: middle;
    line-height: 100px;
    margin-top: 50px;
}

.SiteSubTitleStyle{
    display: flex;
  justify-content: flex-start;
  font-size: 36pt;
  letter-spacing: 4pt;
  width: 65%;
  color: #ffffff;
  font-weight: 300;
  vertical-align: middle;
  margin-right: 100px;
}

.SiteSubTitleStyle spam{
    margin-left: 9px;
    margin-right: 9px;
    color: #328d98;
    color: #13d166;
    font-weight: 800;
    font-size: 38pt;
}

.BottomHomeStyle{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #162327;
    width: 100%;
    height: 50vh;
    margin-bottom: 15vh;
}

.TextBoxStyle{
    width: 60%;
    height: 30%;
    font-size: 14pt;
    font-weight: 300;
    letter-spacing: 1pt;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    color: #ffffff;
}

.TextCardStyle{
    width: 60%;
    font-size: 36pt;
    font-weight: 700;
    letter-spacing: 1pt;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    line-height: 100px;
    color: #ffffff;
}

.OvalButton{
    margin-bottom: 5%;
    border-radius: 30px;
    width: 70%;
    height: 14%;
    font-size: 14pt;
    font-weight: 700;
    background-color: #ffffff;
    color: #162327;
}

.OvalButton:hover {
    color: #328d98;
    background-color: #eafff3 ;
    transition: 0.3s;
    cursor: pointer;
}

.CardStyle{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 30vw;
    height: 40vh;
    vertical-align: middle;
    background-color: #1e3036;
    box-shadow: 7px 7px 7px #212121;
    border-radius: 40px;
    border: 2px solid #ffffff;
}

.CardStyle:hover {
    transition: transform 600ms;
    box-shadow: 0px 0px 0px 10px #13d16688;
    animation: border-glow 2s ease-out infinite;
    border-color: #13d16688;
}

@keyframes border-glow {
    0% {
        transform: translateY(0px);
        box-shadow: 0 0 0 0 rgba(18, 201, 100, 0.7); /* Set the initial box-shadow */
    }
    50%{
        transform: translateY(-3px);

    }
    100% {
        transform: translateY(0px);
        box-shadow: 0 0 0 15px rgba(24, 215, 62, 0); /* Set the final box-shadow */
    }
}

.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    background: rgba(22, 35, 39, 0.8);
    margin-top: auto;
    width: 100%;
}

.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    padding-left: 15px;
    padding-right: 15px;
    /* cursor: pointer; */
}

.brand h4{
    color: white;
    font-size: 20pt;
    font-weight: 600;
}

.footer > a{
    height: 10px;
}

.copyright{
    /* margin-left: auto; */
    padding: 10px;
    color: gray;
}

.copyright b {
    color: cadetblue;
    font-weight: 500;
}

.footerLogo{
    height: 36px;
    margin-right: 10px;
}

.footerIcon{
    height: 25px;
    margin-left: 30px;
    cursor: pointer;
}

.linksLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: auto;
}

/* SEARCH PAGE */

.SearchStyle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-image: url(${bkg}); */
    height: 100vh;
    /* background-size: 100%; */
    align-items: center;
    width: 100vw;
}

.TopSearchStyle{
    /* background-image: url(${bkg}); */
    background-image: url("./images/background_v1.jpeg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35vh;
}

.SiteTitleStyleSearch{
    font-size: 30pt;
    letter-spacing: 1pt;
    color: #ffffff;
    font-weight: 600;
    vertical-align: middle;
    line-height: 100px;
    margin-top: 7.5vh;
}

.BottomSearchStyle{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    padding-top: 5vh;
    width: 100%;
}

.cardSearch{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 26.5%;
    height: 85%;
    vertical-align: middle;
    background-color: #1E3036;
    box-shadow: 7px 7px 7px #212121;
    border-radius: 40px;
    border: 2px solid #FFFFFF;
    padding-bottom: 20px;
}

.cardSearch:hover {
    transition: transform 600ms;
    background: #328d98;
    cursor: pointer;
    border: 5px solid #FFFFFF;
    box-shadow: 0px 0px 0px 10px #13d16688;
    animation: border-glow 2s ease-out infinite;
    border-color: #13d16688;
}

/* .cardSearch:onClick {
    transform: translateX(32vm);
} */

.TitleCardStyle{
    width: 60%;
    height: 40px;
    margin-bottom: 30px;
    font-size: 20pt;
    font-weight: 700;
    letter-spacing: 1pt;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    line-height: 70px;
    color: #ffffff;
}

.cardSearch img{
    border-radius: 40px 40px 0px 0px;
    width: 100%;
    margin-bottom: 10px;
}

.cardSearch .FlagStyle{
    width: 15%;
    margin-bottom: 10px;
    border-radius: 0;
}


.ContentCardStyle{
    width: 60%;
  height: 40px;
  font-size: 14pt;
  font-weight: 300;
  letter-spacing: 1pt;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  color: #ffffff;
}


::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}
  
::-webkit-scrollbar-track {
    background-color: #3f9464;
}

::-webkit-scrollbar-thumb {
    background-color: #07652f;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #00461e;
}
